
:root {
    --color-dark-grey: #1e2225; 
    --color-white: #ffffff; 
    --color-light-blue-grey: #e3e6ed; 
    --color-light-blue: #53cce6; 
    --color-lightest-grey: #f5f5f5; 
    --color-white: #ffffff; 
    --color-mid-grey: #6e7478; 
    --color-dark-blue: #00002e; 
    --color-medium-blue: #0b0b64; 
    --color-red: #e63529; 
    --color-light-blue: #00ace2; 
    --color-green: #36bc5c; 
    --color-light-grey: #d6d6d6; 
    --color-text-selected: #ffffff; 
    --color-outline: #cccccc; 
    --color-yellow: #f2bd32; 
    --color-charcoal: #000000; 
    --color-main-background: #373538; 
    --color-white: #ffffff; 
    --color-grey-2: #363636; 
    --color-black: #000000; 
    --color-cream: #fbf7ef; 
    --color-primary-color: #80e4f9; 
    --color-tertiary-color: #f5f5f5; 
    --color-secondary-color: #00002e; 
    --color-font-primary-color: #1e2225; 
    --color-font-faded-color: #d3d5d6; 
    --color-font-secondary-color: #00002e; 
    --color-bloody-mary: #ba0000; 
    --color-new-primary: #5983d4; 
    --color-new-primary: #512525; 
}