
:root {
    --colorColorDarkGrey: #1e2225;    
    --colorColorWhite: #ffffff;    
    --colorColorLightBlueGrey: #e3e6ed;    
    --colorColorLightBlue: #53cce6;    
    --colorColorLightestGrey: #f5f5f5;    
    --colorColorWhite: #ffffff;    
    --colorColorMidGrey: #6e7478;    
    --colorColorDarkBlue: #00002e;    
    --colorColorMediumBlue: #0b0b64;    
    --colorColorRed: #e63529;    
    --colorColorLightBlue: #00ace2;    
    --colorColorGreen: #36bc5c;    
    --colorColorLightGrey: #d6d6d6;    
    --colorTextSelected: #ffffff;    
    --colorColorOutline: #cccccc;    
    --colorColorYellow: #f2bd32;    
    --colorColorCharcoal: #000000;    
    --colorColorMainBackground: #373538;    
    --colorColorWhite: #ffffff;    
    --colorColorGrey2: #363636;    
    --colorColorBlack: #000000;    
    --colorColorCream: #fbf7ef;    
    --colorColorPrimaryColor: #80e4f9;    
    --colorColorTertiaryColor: #f5f5f5;    
    --colorColorSecondaryColor: #00002e;    
    --colorColorFontPrimaryColor: #1e2225;    
    --colorColorFontFadedColor: #d3d5d6;    
    --colorColorFontSecondaryColor: #00002e;    
    --colorColorBloodyMary: #ba0000;    
    --colorColorTestPrimary: #884343;    
    --colorColorPrimeBlue: #00bcdf;    
    --colorColorButtonBlue: #00a6c6;    
}