
:root {
    --colorColorDarkGrey: #1e2225;    
    --colorColorWhite: #ffffff;    
    --colorColorLightBlueGrey: #e3e6ed;    
    --colorColorLightBlue: #53cce6;    
    --colorColorLightestGrey: #f5f5f5;    
    --colorColorWhite: #ffffff;    
    --colorColorMidGrey: #6e7478;    
    --colorColorDarkBlue: #00002e;    
    --colorColorMediumBlue: #0b0b64;    
    --colorColorRed: #e63529;    
    --colorColorLightBlue: #00ace2;    
    --colorColorGreen: #36bc5c;    
    --colorColorLightGrey: #d6d6d6;    
    --colorTextSelected: #ffffff;    
    --colorColorOutline: #cccccc;    
    --colorColorYellow: #f2bd32;    
    --colorColorCharcoal: #000000;    
    --colorColorMainBackground: #373538;    
    --colorColorWhite: #ffffff;    
    --colorColorGrey2: #363636;    
    --colorColorBlack: #000000;    
    --colorColorCream: #fbf7ef;    
    --colorColorPrimaryColor: #80e4f9;    
    --colorColorTertiaryColor: #f5f5f5;    
    --colorColorSecondaryColor: #00002e;    
    --colorColorFontPrimaryColor: #1e2225;    
    --colorColorFontFadedColor: #d3d5d6;    
    --colorColorFontSecondaryColor: #00002e;    
    --colorColorBloodyMary: #ba0000;    
    --colorColorTestPrimary: #884343;    
    --colorColorPrimeBlue: #f28383;    
    --colorColorButtonBlue: #96f08e;    
    --colorColorsTomato1: #fffcfc;    
    --colorColorsTomato2: #fff8f7;    
    --colorColorsTomato3: #feebe7;    
    --colorColorsTomato4: #ffdcd3;    
    --colorColorsTomato5: #ffcdc2;    
    --colorColorsTomato6: #fdbdaf;    
    --colorColorsTomato7: #f5a898;    
    --colorColorsTomato8: #ec8e7b;    
    --colorColorsTomato9: #e54d2e;    
    --colorColorsTomato10: #dd4425;    
    --colorColorsTomato11: #d13415;    
    --colorColorsTomato12: #5c271f;    
    --colorColorsRed1: #fffcfc;    
    --colorColorsRed2: #fff7f7;    
    --colorColorsRed3: #feebec;    
    --colorColorsRed4: #ffdbdc;    
    --colorColorsRed5: #ffcdce;    
    --colorColorsRed6: #fdbdbe;    
    --colorColorsRed7: #f4a9aa;    
    --colorColorsRed8: #eb8e90;    
    --colorColorsRed9: #e5484d;    
    --colorColorsRed10: #dc3e42;    
    --colorColorsRed11: #ce2c31;    
    --colorColorsRed12: #641723;    
    --colorColorsCrimson1: #fffcfd;    
    --colorColorsCrimson2: #fef7f9;    
    --colorColorsCrimson3: #ffe9f0;    
    --colorColorsCrimson4: #fedce7;    
    --colorColorsCrimson5: #facedd;    
    --colorColorsCrimson6: #f3bed1;    
    --colorColorsCrimson7: #eaacc3;    
    --colorColorsCrimson8: #e093b2;    
    --colorColorsCrimson9: #e93d82;    
    --colorColorsCrimson10: #df3478;    
    --colorColorsCrimson11: #cb1d63;    
    --colorColorsCrimson12: #621639;    
    --colorColorsPink1: #fffcfe;    
    --colorColorsPink2: #fef7fb;    
    --colorColorsPink3: #fee9f5;    
    --colorColorsPink4: #fbdcef;    
    --colorColorsPink5: #f6cee7;    
    --colorColorsPink6: #efbfdd;    
    --colorColorsPink7: #e7acd0;    
    --colorColorsPink8: #dd93c2;    
    --colorColorsPink9: #d6409f;    
    --colorColorsPink10: #cf3897;    
    --colorColorsPink11: #c2298a;    
    --colorColorsPink12: #651249;    
    --colorColorsPlum1: #fefcff;    
    --colorColorsPlum2: #fdf7fd;    
    --colorColorsPlum3: #fbebfb;    
    --colorColorsPlum4: #f7def8;    
    --colorColorsPlum5: #f2d1f3;    
    --colorColorsPlum6: #e9c2ec;    
    --colorColorsPlum7: #deade3;    
    --colorColorsPlum8: #cf91d8;    
    --colorColorsPlum9: #ab4aba;    
    --colorColorsPlum10: #a144af;    
    --colorColorsPlum11: #953ea3;    
    --colorColorsPlum12: #53195d;    
    --colorColorsPurple1: #fefcfe;    
    --colorColorsPurple2: #fbf7fe;    
    --colorColorsPurple3: #f7edfe;    
    --colorColorsPurple4: #f2e2fc;    
    --colorColorsPurple5: #ead5f9;    
    --colorColorsPurple6: #e0c4f4;    
    --colorColorsPurple7: #d1afec;    
    --colorColorsPurple8: #be93e4;    
    --colorColorsPurple9: #8e4ec6;    
    --colorColorsPurple10: #8347b9;    
    --colorColorsPurple11: #8145b5;    
    --colorColorsPurple12: #402060;    
    --colorColorsViolet1: #fdfcfe;    
    --colorColorsViolet2: #faf8ff;    
    --colorColorsViolet3: #f4f0fe;    
    --colorColorsViolet4: #ebe4ff;    
    --colorColorsViolet5: #e1d9ff;    
    --colorColorsViolet6: #d4cafe;    
    --colorColorsViolet7: #c2b5f5;    
    --colorColorsViolet8: #aa99ec;    
    --colorColorsViolet9: #6e56cf;    
    --colorColorsViolet10: #654dc4;    
    --colorColorsViolet11: #6550b9;    
    --colorColorsViolet12: #2f265f;    
    --colorColorsIndigo1: #fdfdfe;    
    --colorColorsIndigo2: #f7f9ff;    
    --colorColorsIndigo3: #edf2fe;    
    --colorColorsIndigo4: #e1e9ff;    
    --colorColorsIndigo5: #d2deff;    
    --colorColorsIndigo6: #c1d0ff;    
    --colorColorsIndigo7: #abbdf9;    
    --colorColorsIndigo8: #8da4ef;    
    --colorColorsIndigo9: #3e63dd;    
    --colorColorsIndigo10: #3358d4;    
    --colorColorsIndigo11: #3a5bc7;    
    --colorColorsIndigo12: #1f2d5c;    
    --colorColorsBlue1: #fbfdff;    
    --colorColorsBlue2: #f4faff;    
    --colorColorsBlue3: #e6f4fe;    
    --colorColorsBlue4: #d5efff;    
    --colorColorsBlue5: #c2e5ff;    
    --colorColorsBlue6: #acd8fc;    
    --colorColorsBlue7: #8ec8f6;    
    --colorColorsBlue8: #5eb1ef;    
    --colorColorsBlue9: #0090ff;    
    --colorColorsBlue10: #0588f0;    
    --colorColorsBlue11: #0d74ce;    
    --colorColorsBlue12: #113264;    
    --colorColorsCyan1: #fafdfe;    
    --colorColorsCyan2: #f2fafb;    
    --colorColorsCyan3: #def7f9;    
    --colorColorsCyan4: #caf1f6;    
    --colorColorsCyan5: #b5e9f0;    
    --colorColorsCyan6: #9ddde7;    
    --colorColorsCyan7: #7dcedc;    
    --colorColorsCyan8: #3db9cf;    
    --colorColorsCyan9: #00a2c7;    
    --colorColorsCyan10: #0797b9;    
    --colorColorsCyan11: #107d98;    
    --colorColorsCyan12: #0d3c48;    
    --colorColorsTeal1: #fafefd;    
    --colorColorsTeal2: #f3fbf9;    
    --colorColorsTeal3: #e0f8f3;    
    --colorColorsTeal4: #ccf3ea;    
    --colorColorsTeal5: #b8eae0;    
    --colorColorsTeal6: #a1ded2;    
    --colorColorsTeal7: #83cdc1;    
    --colorColorsTeal8: #53b9ab;    
    --colorColorsTeal9: #12a594;    
    --colorColorsTeal10: #0d9b8a;    
    --colorColorsTeal11: #008573;    
    --colorColorsTeal12: #0d3d38;    
    --colorColorsGreen1: #fbfefc;    
    --colorColorsGreen2: #f4fbf6;    
    --colorColorsGreen3: #e6f6eb;    
    --colorColorsGreen4: #d6f1df;    
    --colorColorsGreen5: #c4e8d1;    
    --colorColorsGreen6: #adddc0;    
    --colorColorsGreen7: #8eceaa;    
    --colorColorsGreen8: #5bb98b;    
    --colorColorsGreen9: #30a46c;    
    --colorColorsGreen10: #2b9a66;    
    --colorColorsGreen11: #218358;    
    --colorColorsGreen12: #193b2d;    
    --colorColorsGrass1: #fbfefb;    
    --colorColorsGrass2: #f5fbf5;    
    --colorColorsGrass3: #e9f6e9;    
    --colorColorsGrass4: #daf1db;    
    --colorColorsGrass5: #c9e8ca;    
    --colorColorsGrass6: #b2ddb5;    
    --colorColorsGrass7: #94ce9a;    
    --colorColorsGrass8: #65ba74;    
    --colorColorsGrass9: #46a758;    
    --colorColorsGrass10: #3e9b4f;    
    --colorColorsGrass11: #2a7e3b;    
    --colorColorsGrass12: #203c25;    
    --colorColorsOrange1: #fefcfb;    
    --colorColorsOrange2: #fff7ed;    
    --colorColorsOrange3: #ffefd6;    
    --colorColorsOrange4: #ffdfb5;    
    --colorColorsOrange5: #ffd19a;    
    --colorColorsOrange6: #ffc182;    
    --colorColorsOrange7: #f5ae73;    
    --colorColorsOrange8: #ec9455;    
    --colorColorsOrange9: #f76b15;    
    --colorColorsOrange10: #ef5f00;    
    --colorColorsOrange11: #cc4e00;    
    --colorColorsOrange12: #582d1d;    
    --colorColorsBrown1: #fefdfc;    
    --colorColorsBrown2: #fcf9f6;    
    --colorColorsBrown3: #f6eee7;    
    --colorColorsBrown4: #f0e4d9;    
    --colorColorsBrown5: #ebdaca;    
    --colorColorsBrown6: #e4cdb7;    
    --colorColorsBrown7: #dcbc9f;    
    --colorColorsBrown8: #cea37e;    
    --colorColorsBrown9: #ad7f58;    
    --colorColorsBrown10: #a07553;    
    --colorColorsBrown11: #815e46;    
    --colorColorsBrown12: #3e332e;    
    --colorColorsSky1: #f9feff;    
    --colorColorsSky2: #f1fafd;    
    --colorColorsSky3: #e1f6fd;    
    --colorColorsSky4: #d1f0fa;    
    --colorColorsSky5: #bee7f5;    
    --colorColorsSky6: #a9daed;    
    --colorColorsSky7: #8dcae3;    
    --colorColorsSky8: #60b3d7;    
    --colorColorsSky9: #7ce2fe;    
    --colorColorsSky10: #74daf8;    
    --colorColorsSky11: #00749e;    
    --colorColorsSky12: #1d3e56;    
    --colorColorsMint1: #f9fefd;    
    --colorColorsMint2: #f2fbf9;    
    --colorColorsMint3: #ddf9f2;    
    --colorColorsMint4: #c8f4e9;    
    --colorColorsMint5: #b3ecde;    
    --colorColorsMint6: #9ce0d0;    
    --colorColorsMint7: #7ecfbd;    
    --colorColorsMint8: #4cbba5;    
    --colorColorsMint9: #86ead4;    
    --colorColorsMint10: #7de0cb;    
    --colorColorsMint11: #027864;    
    --colorColorsMint12: #16433c;    
    --colorColorsLime1: #fcfdfa;    
    --colorColorsLime2: #f8faf3;    
    --colorColorsLime3: #eef6d6;    
    --colorColorsLime4: #e2f0bd;    
    --colorColorsLime5: #d3e7a6;    
    --colorColorsLime6: #c2da91;    
    --colorColorsLime7: #abc978;    
    --colorColorsLime8: #8db654;    
    --colorColorsLime9: #bdee63;    
    --colorColorsLime10: #b0e64c;    
    --colorColorsLime11: #5c7c2f;    
    --colorColorsLime12: #37401c;    
    --colorColorsYellow1: #fdfdf9;    
    --colorColorsYellow2: #fefce9;    
    --colorColorsYellow3: #fffab8;    
    --colorColorsYellow4: #fff394;    
    --colorColorsYellow5: #ffe770;    
    --colorColorsYellow6: #f3d768;    
    --colorColorsYellow7: #e4c767;    
    --colorColorsYellow8: #d5ae39;    
    --colorColorsYellow9: #ffe629;    
    --colorColorsYellow10: #ffdc00;    
    --colorColorsYellow11: #9e6c00;    
    --colorColorsYellow12: #473b1f;    
    --colorColorsAmber1: #fefdfb;    
    --colorColorsAmber2: #fefbe9;    
    --colorColorsAmber3: #fff7c2;    
    --colorColorsAmber4: #ffee9c;    
    --colorColorsAmber5: #fbe577;    
    --colorColorsAmber6: #f3d673;    
    --colorColorsAmber7: #e9c162;    
    --colorColorsAmber8: #e2a336;    
    --colorColorsAmber9: #ffc53d;    
    --colorColorsAmber10: #ffba18;    
    --colorColorsAmber11: #ab6400;    
    --colorColorsAmber12: #4f3422;    
    --colorColorsGray1: #fcfcfc;    
    --colorColorsGray2: #f9f9f9;    
    --colorColorsGray3: #f0f0f0;    
    --colorColorsGray4: #e8e8e8;    
    --colorColorsGray5: #e0e0e0;    
    --colorColorsGray6: #d9d9d9;    
    --colorColorsGray7: #cecece;    
    --colorColorsGray8: #bbbbbb;    
    --colorColorsGray9: #8d8d8d;    
    --colorColorsGray10: #838383;    
    --colorColorsGray11: #646464;    
    --colorColorsGray12: #202020;    
    --colorColorsMauve1: #fdfcfd;    
    --colorColorsMauve2: #faf9fb;    
    --colorColorsMauve3: #f2eff3;    
    --colorColorsMauve4: #eae7ec;    
    --colorColorsMauve5: #e3dfe6;    
    --colorColorsMauve6: #dbd8e0;    
    --colorColorsMauve7: #d0cdd7;    
    --colorColorsMauve8: #bcbac7;    
    --colorColorsMauve9: #8e8c99;    
    --colorColorsMauve10: #84828e;    
    --colorColorsMauve11: #65636d;    
    --colorColorsMauve12: #211f26;    
    --colorColorsSlate1: #fcfcfd;    
    --colorColorsSlate2: #f9f9fb;    
    --colorColorsSlate3: #f0f0f3;    
    --colorColorsSlate4: #e8e8ec;    
    --colorColorsSlate5: #e0e1e6;    
    --colorColorsSlate6: #d9d9e0;    
    --colorColorsSlate7: #cdced6;    
    --colorColorsSlate8: #b9bbc6;    
    --colorColorsSlate9: #8b8d98;    
    --colorColorsSlate10: #80838d;    
    --colorColorsSlate11: #60646c;    
    --colorColorsSlate12: #1c2024;    
    --colorColorsSage1: #fbfdfc;    
    --colorColorsSage2: #f7f9f8;    
    --colorColorsSage3: #eef1f0;    
    --colorColorsSage4: #e6e9e8;    
    --colorColorsSage5: #dfe2e0;    
    --colorColorsSage6: #d7dad9;    
    --colorColorsSage7: #cbcfcd;    
    --colorColorsSage8: #b8bcba;    
    --colorColorsSage9: #868e8b;    
    --colorColorsSage10: #7c8481;    
    --colorColorsSage11: #5f6563;    
    --colorColorsSage12: #1a211e;    
    --colorColorsOlive1: #fcfdfc;    
    --colorColorsOlive2: #f8faf8;    
    --colorColorsOlive3: #eff1ef;    
    --colorColorsOlive4: #e7e9e7;    
    --colorColorsOlive5: #dfe2df;    
    --colorColorsOlive6: #d7dad7;    
    --colorColorsOlive7: #cccfcc;    
    --colorColorsOlive8: #b9bcb8;    
    --colorColorsOlive9: #898e87;    
    --colorColorsOlive10: #7f847d;    
    --colorColorsOlive11: #60655f;    
    --colorColorsOlive12: #1d211c;    
    --colorColorsSand1: #fdfdfc;    
    --colorColorsSand2: #f9f9f8;    
    --colorColorsSand3: #f1f0ef;    
    --colorColorsSand4: #e9e8e6;    
    --colorColorsSand5: #e2e1de;    
    --colorColorsSand6: #dad9d6;    
    --colorColorsSand7: #cfceca;    
    --colorColorsSand8: #bcbbb5;    
    --colorColorsSand9: #8d8d86;    
    --colorColorsSand10: #82827c;    
    --colorColorsSand11: #63635e;    
    --colorColorsSand12: #21201c;    
    --colorColorsBronze1: #fdfcfc;    
    --colorColorsBronze2: #fdf7f5;    
    --colorColorsBronze3: #f6edea;    
    --colorColorsBronze4: #efe4df;    
    --colorColorsBronze5: #e7d9d3;    
    --colorColorsBronze6: #dfcdc5;    
    --colorColorsBronze7: #d3bcb3;    
    --colorColorsBronze8: #c2a499;    
    --colorColorsBronze9: #a18072;    
    --colorColorsBronze10: #957468;    
    --colorColorsBronze11: #7d5e54;    
    --colorColorsBronze12: #43302b;    
    --colorColorsGold1: #fdfdfc;    
    --colorColorsGold2: #faf9f2;    
    --colorColorsGold3: #f2f0e7;    
    --colorColorsGold4: #eae6db;    
    --colorColorsGold5: #e1dccf;    
    --colorColorsGold6: #d8d0bf;    
    --colorColorsGold7: #cbc0aa;    
    --colorColorsGold8: #b9a88d;    
    --colorColorsGold9: #978365;    
    --colorColorsGold10: #8c7a5e;    
    --colorColorsGold11: #71624b;    
    --colorColorsGold12: #3b352b;    
    --colorOverlaysBlackAlpha1: #0000000d;    
    --colorOverlaysBlackAlpha2: #0000001a;    
    --colorOverlaysBlackAlpha3: #00000026;    
    --colorOverlaysBlackAlpha4: #00000033;    
    --colorOverlaysBlackAlpha5: #0000004d;    
    --colorOverlaysBlackAlpha6: #00000066;    
    --colorOverlaysBlackAlpha7: #00000080;    
    --colorOverlaysBlackAlpha8: #00000099;    
    --colorOverlaysBlackAlpha9: #000000b2;    
    --colorOverlaysBlackAlpha10: #000000cc;    
    --colorOverlaysBlackAlpha11: #000000e5;    
    --colorOverlaysBlackAlpha12: #000000f2;    
    --colorColorsTomatoAlpha1: #ff000003;    
    --colorColorsTomatoAlpha2: #ff200008;    
    --colorColorsTomatoAlpha3: #f52b0018;    
    --colorColorsTomatoAlpha4: #ff35002c;    
    --colorColorsTomatoAlpha5: #ff2e003d;    
    --colorColorsTomatoAlpha6: #f92d0050;    
    --colorColorsTomatoAlpha7: #e7280067;    
    --colorColorsTomatoAlpha8: #db250084;    
    --colorColorsTomatoAlpha9: #df2600d1;    
    --colorColorsTomatoAlpha10: #d72400da;    
    --colorColorsTomatoAlpha11: #cd2200ea;    
    --colorColorsTomatoAlpha12: #460900e0;    
    --colorColorsPurpleAlpha1: #aa00aa03;    
    --colorColorsPurpleAlpha2: #8000e008;    
    --colorColorsPurpleAlpha3: #8e00f112;    
    --colorColorsPurpleAlpha4: #8d00e51d;    
    --colorColorsPurpleAlpha5: #8000db2a;    
    --colorColorsPurpleAlpha6: #7a01d03b;    
    --colorColorsPurpleAlpha7: #6d00c350;    
    --colorColorsPurpleAlpha8: #6600c06c;    
    --colorColorsPurpleAlpha9: #5c00adb1;    
    --colorColorsPurpleAlpha10: #53009eb8;    
    --colorColorsPurpleAlpha11: #52009aba;    
    --colorColorsPurpleAlpha12: #250049df;    
    --colorColorsVioletAlpha1: #5500aa03;    
    --colorColorsVioletAlpha2: #4900ff07;    
    --colorColorsVioletAlpha3: #4400ee0f;    
    --colorColorsVioletAlpha4: #4300ff1b;    
    --colorColorsVioletAlpha5: #3600ff26;    
    --colorColorsVioletAlpha6: #3100fb35;    
    --colorColorsVioletAlpha7: #2d01dd4a;    
    --colorColorsVioletAlpha8: #2b00d066;    
    --colorColorsVioletAlpha9: #2400b7a9;    
    --colorColorsVioletAlpha10: #2300abb2;    
    --colorColorsVioletAlpha11: #1f0099af;    
    --colorColorsVioletAlpha12: #0b0043d9;    
    --colorColorsIndigoAlpha1: #00008002;    
    --colorColorsIndigoAlpha2: #0040ff08;    
    --colorColorsIndigoAlpha3: #0047f112;    
    --colorColorsIndigoAlpha4: #0044ff1e;    
    --colorColorsIndigoAlpha5: #0044ff2d;    
    --colorColorsIndigoAlpha6: #003eff3e;    
    --colorColorsIndigoAlpha7: #0037ed54;    
    --colorColorsIndigoAlpha8: #0034dc72;    
    --colorColorsIndigoAlpha9: #0031d2c1;    
    --colorColorsIndigoAlpha10: #002ec9cc;    
    --colorColorsIndigoAlpha11: #002bb7c5;    
    --colorColorsIndigoAlpha12: #001046e0;    
    --colorColorsBlueAlpha1: #0080ff04;    
    --colorColorsBlueAlpha2: #008cff0b;    
    --colorColorsBlueAlpha3: #008ff519;    
    --colorColorsBlueAlpha4: #009eff2a;    
    --colorColorsBlueAlpha5: #0093ff3d;    
    --colorColorsBlueAlpha6: #0088f653;    
    --colorColorsBlueAlpha7: #0083eb71;    
    --colorColorsBlueAlpha8: #0084e6a1;    
    --colorColorsBlueAlpha9: #0090ff;    
    --colorColorsBlueAlpha10: #0086f0fa;    
    --colorColorsBlueAlpha11: #006dcbf2;    
    --colorColorsBlueAlpha12: #5b5c5dee;    
    --colorColorsCyanAlpha1: #0099cc05;    
    --colorColorsCyanAlpha2: #009db10d;    
    --colorColorsCyanAlpha3: #00c2d121;    
    --colorColorsCyanAlpha4: #00bcd435;    
    --colorColorsCyanAlpha5: #01b4cc4a;    
    --colorColorsCyanAlpha6: #00a7c162;    
    --colorColorsCyanAlpha7: #009fbb82;    
    --colorColorsCyanAlpha8: #00a3c0c2;    
    --colorColorsCyanAlpha9: #00a2c7;    
    --colorColorsCyanAlpha10: #0094b7f8;    
    --colorColorsCyanAlpha11: #007491ef;    
    --colorColorsCyanAlpha12: #00323ef2;    
    --colorColorsTealAlpha1: #00cc9905;    
    --colorColorsTealAlpha2: #00aa800c;    
    --colorColorsTealAlpha3: #00c69d1f;    
    --colorColorsTealAlpha4: #00c39633;    
    --colorColorsTealAlpha5: #00b49047;    
    --colorColorsTealAlpha6: #00a6855e;    
    --colorColorsTealAlpha7: #0099807c;    
    --colorColorsTealAlpha8: #009783ac;    
    --colorColorsTealAlpha9: #009e8ced;    
    --colorColorsTealAlpha10: #009684f2;    
    --colorColorsTealAlpha11: #008573;    
    --colorColorsTealAlpha12: #00332df2;    
    --colorColorsGreenAlpha1: #00c04004;    
    --colorColorsGreenAlpha2: #00a32f0b;    
    --colorColorsGreenAlpha3: #00a43319;    
    --colorColorsGreenAlpha4: #00a83829;    
    --colorColorsGreenAlpha5: #019c393b;    
    --colorColorsGreenAlpha6: #00963c52;    
    --colorColorsGreenAlpha7: #00914071;    
    --colorColorsGreenAlpha8: #00924ba4;    
    --colorColorsGreenAlpha9: #008f4acf;    
    --colorColorsGreenAlpha10: #008647d4;    
    --colorColorsGreenAlpha11: #00713fde;    
    --colorColorsGreenAlpha12: #002616e6;    
    --colorColorsGrassAlpha1: #00c00004;    
    --colorColorsGrassAlpha2: #0099000a;    
    --colorColorsGrassAlpha3: #00970016;    
    --colorColorsGrassAlpha4: #009f0725;    
    --colorColorsGrassAlpha5: #00930536;    
    --colorColorsGrassAlpha6: #008f0a4d;    
    --colorColorsGrassAlpha7: #018b0f6b;    
    --colorColorsGrassAlpha8: #008d199a;    
    --colorColorsGrassAlpha9: #008619b9;    
    --colorColorsGrassAlpha10: #007b17c1;    
    --colorColorsGrassAlpha11: #006514d5;    
    --colorColorsGrassAlpha12: #002006df;    
    --colorColorsOrangeAlpha1: #c0400004;    
    --colorColorsOrangeAlpha2: #ff8e0012;    
    --colorColorsOrangeAlpha3: #ff9c0029;    
    --colorColorsOrangeAlpha4: #ff91014a;    
    --colorColorsOrangeAlpha5: #ff8b0065;    
    --colorColorsOrangeAlpha6: #ff81007d;    
    --colorColorsOrangeAlpha7: #ed6c008c;    
    --colorColorsOrangeAlpha8: #e35f00aa;    
    --colorColorsOrangeAlpha9: #f65e00ea;    
    --colorColorsOrangeAlpha10: #ef5f00;    
    --colorColorsOrangeAlpha11: #cc4e00c5;    
    --colorColorsOrangeAlpha12: #431200e2;    
    --colorColorsBrownAlpha1: #aa550003;    
    --colorColorsBrownAlpha2: #aa550009;    
    --colorColorsBrownAlpha3: #a04b0018;    
    --colorColorsBrownAlpha4: #9b4a0026;    
    --colorColorsBrownAlpha5: #9f4d0035;    
    --colorColorsBrownAlpha6: #a04e0048;    
    --colorColorsBrownAlpha7: #a34e0060;    
    --colorColorsBrownAlpha8: #9f4a0081;    
    --colorColorsBrownAlpha9: #823c00a7;    
    --colorColorsBrownAlpha10: #723300ac;    
    --colorColorsBrownAlpha11: #522100b9;    
    --colorColorsBrownAlpha12: #140600d1;    
    --colorColorsRedAlpha1: #ff000003;    
    --colorColorsRedAlpha2: #ff000008;    
    --colorColorsRedAlpha3: #f3000d14;    
    --colorColorsRedAlpha4: #ff000824;    
    --colorColorsRedAlpha5: #ff000632;    
    --colorColorsRedAlpha6: #f8000442;    
    --colorColorsRedAlpha7: #df000356;    
    --colorColorsRedAlpha8: #d2000571;    
    --colorColorsRedAlpha9: #db0007b7;    
    --colorColorsRedAlpha10: #d10005c1;    
    --colorColorsRedAlpha11: #c40006d3;    
    --colorColorsRedAlpha12: #55000de8;    
    --colorColorsCrimsonAlpha1: #ff005503;    
    --colorColorsCrimsonAlpha2: #e0004008;    
    --colorColorsCrimsonAlpha3: #ff005216;    
    --colorColorsCrimsonAlpha4: #f8005123;    
    --colorColorsCrimsonAlpha5: #e5004f31;    
    --colorColorsCrimsonAlpha6: #d0004b41;    
    --colorColorsCrimsonAlpha7: #bf004753;    
    --colorColorsCrimsonAlpha8: #b6004a6c;    
    --colorColorsCrimsonAlpha9: #e2005bc2;    
    --colorColorsCrimsonAlpha10: #d70056cb;    
    --colorColorsCrimsonAlpha11: #c4004fe2;    
    --colorColorsCrimsonAlpha12: #530026e9;    
    --colorColorsPinkAlpha1: #ff00aa03;    
    --colorColorsPinkAlpha2: #e0008008;    
    --colorColorsPinkAlpha3: #f4008c16;    
    --colorColorsPinkAlpha4: #e2008b23;    
    --colorColorsPinkAlpha5: #d1008331;    
    --colorColorsPinkAlpha6: #c0007840;    
    --colorColorsPinkAlpha7: #b6006f53;    
    --colorColorsPinkAlpha8: #af006f6c;    
    --colorColorsPinkAlpha9: #c8007fbf;    
    --colorColorsPinkAlpha10: #c2007ac7;    
    --colorColorsPinkAlpha11: #b60074d6;    
    --colorColorsPinkAlpha12: #59003bed;    
    --colorColorsPlumAlpha1: #aa00ff03;    
    --colorColorsPlumAlpha2: #c000c008;    
    --colorColorsPlumAlpha3: #cc00cc14;    
    --colorColorsPlumAlpha4: #c200c921;    
    --colorColorsPlumAlpha5: #b700bd2e;    
    --colorColorsPlumAlpha6: #a400b03d;    
    --colorColorsPlumAlpha7: #9900a852;    
    --colorColorsPlumAlpha8: #9000a56e;    
    --colorColorsPlumAlpha9: #89009eb5;    
    --colorColorsPlumAlpha10: #7f0092bb;    
    --colorColorsPlumAlpha11: #730086c1;    
    --colorColorsPlumAlpha12: #40004be6;    
    --colorColorsSkyAlpha1: #00d5ff06;    
    --colorColorsSkyAlpha2: #00a4db0e;    
    --colorColorsSkyAlpha3: #00b3ee1e;    
    --colorColorsSkyAlpha4: #00ace42e;    
    --colorColorsSkyAlpha5: #00a1d841;    
    --colorColorsSkyAlpha6: #0092ca56;    
    --colorColorsSkyAlpha7: #0089c172;    
    --colorColorsSkyAlpha8: #0085bf9f;    
    --colorColorsSkyAlpha9: #00c7fe83;    
    --colorColorsSkyAlpha10: #00bcf38b;    
    --colorColorsSkyAlpha11: #00749e;    
    --colorColorsSkyAlpha12: #002540e2;    
    --colorColorsMintAlpha1: #00d5aa06;    
    --colorColorsMintAlpha2: #00b18a0d;    
    --colorColorsMintAlpha3: #00d29e22;    
    --colorColorsMintAlpha4: #00cc9937;    
    --colorColorsMintAlpha5: #00c0914c;    
    --colorColorsMintAlpha6: #00b08663;    
    --colorColorsMintAlpha7: #00a17d81;    
    --colorColorsMintAlpha8: #009e7fb3;    
    --colorColorsMintAlpha9: #00d3a579;    
    --colorColorsMintAlpha10: #00c39982;    
    --colorColorsMintAlpha11: #007763fd;    
    --colorColorsMintAlpha12: #00312ae9;    
    --colorColorsLimeAlpha1: #66990005;    
    --colorColorsLimeAlpha2: #6b95000c;    
    --colorColorsLimeAlpha3: #96c80029;    
    --colorColorsLimeAlpha4: #8fc60042;    
    --colorColorsLimeAlpha5: #81bb0059;    
    --colorColorsLimeAlpha6: #72aa006e;    
    --colorColorsLimeAlpha7: #61990087;    
    --colorColorsLimeAlpha8: #559200ab;    
    --colorColorsLimeAlpha9: #93e4009c;    
    --colorColorsLimeAlpha10: #8fdc00b3;    
    --colorColorsLimeAlpha11: #375f00d0;    
    --colorColorsLimeAlpha12: #1e2900e3;    
    --colorColorsYellowAlpha1: #aaaa0006;    
    --colorColorsYellowAlpha2: #f4dd0016;    
    --colorColorsYellowAlpha3: #ffee0047;    
    --colorColorsYellowAlpha4: #ffe3016b;    
    --colorColorsYellowAlpha5: #ffd5008f;    
    --colorColorsYellowAlpha6: #ebbc0097;    
    --colorColorsYellowAlpha7: #d2a10098;    
    --colorColorsYellowAlpha8: #c99700c6;    
    --colorColorsYellowAlpha9: #ffe100d6;    
    --colorColorsYellowAlpha10: #ffdc00;    
    --colorColorsYellowAlpha11: #9e6c00;    
    --colorColorsYellowAlpha12: #2e2000e0;    
    --colorColorsAmberAlpha1: #c0800004;    
    --colorColorsAmberAlpha2: #f4d10016;    
    --colorColorsAmberAlpha3: #ffde003d;    
    --colorColorsAmberAlpha4: #ffd40063;    
    --colorColorsAmberAlpha5: #f8cf0088;    
    --colorColorsAmberAlpha6: #eab5008c;    
    --colorColorsAmberAlpha7: #dc9b009d;    
    --colorColorsAmberAlpha8: #da8a00c9;    
    --colorColorsAmberAlpha9: #ffb300c2;    
    --colorColorsAmberAlpha10: #ffb300e7;    
    --colorColorsAmberAlpha11: #ab6400;    
    --colorColorsAmberAlpha12: #341500dd;    
    --colorColorsGrayAlpha1: #00000003;    
    --colorColorsGrayAlpha2: #00000006;    
    --colorColorsGrayAlpha3: #0000000f;    
    --colorColorsGrayAlpha4: #00000017;    
    --colorColorsGrayAlpha5: #0000001f;    
    --colorColorsGrayAlpha6: #00000026;    
    --colorColorsGrayAlpha7: #00000031;    
    --colorColorsGrayAlpha8: #00000044;    
    --colorColorsGrayAlpha9: #00000072;    
    --colorColorsGrayAlpha10: #0000007c;    
    --colorColorsGrayAlpha11: #0000009b;    
    --colorColorsGrayAlpha12: #000000df;    
    --colorColorsMauveAlpha1: #55005503;    
    --colorColorsMauveAlpha2: #2b005506;    
    --colorColorsMauveAlpha3: #30004010;    
    --colorColorsMauveAlpha4: #20003618;    
    --colorColorsMauveAlpha5: #20003820;    
    --colorColorsMauveAlpha6: #14003527;    
    --colorColorsMauveAlpha7: #10003332;    
    --colorColorsMauveAlpha8: #08003145;    
    --colorColorsMauveAlpha9: #05001d73;    
    --colorColorsMauveAlpha10: #0500197d;    
    --colorColorsMauveAlpha11: #0400119c;    
    --colorColorsMauveAlpha12: #020008e0;    
    --colorColorsSlateAlpha1: #00005503;    
    --colorColorsSlateAlpha2: #00005506;    
    --colorColorsSlateAlpha3: #0000330f;    
    --colorColorsSlateAlpha4: #00002d17;    
    --colorColorsSlateAlpha5: #0009321f;    
    --colorColorsSlateAlpha6: #00002f26;    
    --colorColorsSlateAlpha7: #00062e32;    
    --colorColorsSlateAlpha8: #00083046;    
    --colorColorsSlateAlpha9: #00051d74;    
    --colorColorsSlateAlpha10: #00071b7f;    
    --colorColorsSlateAlpha11: #0007149f;    
    --colorColorsSlateAlpha12: #000509e3;    
    --colorColorsSageAlpha1: #00804004;    
    --colorColorsSageAlpha2: #00402008;    
    --colorColorsSageAlpha3: #002d1e11;    
    --colorColorsSageAlpha4: #001f1519;    
    --colorColorsSageAlpha5: #00180820;    
    --colorColorsSageAlpha6: #00140d28;    
    --colorColorsSageAlpha7: #00140a34;    
    --colorColorsSageAlpha8: #000f0847;    
    --colorColorsSageAlpha9: #00110b79;    
    --colorColorsSageAlpha10: #00100a83;    
    --colorColorsSageAlpha11: #000a07a0;    
    --colorColorsSageAlpha12: #000805e5;    
    --colorColorsOliveAlpha1: #00550003;    
    --colorColorsOliveAlpha2: #00490007;    
    --colorColorsOliveAlpha3: #00200010;    
    --colorColorsOliveAlpha4: #00160018;    
    --colorColorsOliveAlpha5: #00180020;    
    --colorColorsOliveAlpha6: #00140028;    
    --colorColorsOliveAlpha7: #000f0033;    
    --colorColorsOliveAlpha8: #040f0047;    
    --colorColorsOliveAlpha9: #050f0078;    
    --colorColorsOliveAlpha10: #040e0082;    
    --colorColorsOliveAlpha11: #020a00a0;    
    --colorColorsOliveAlpha12: #010600e3;    
    --colorColorsSandAlpha1: #55550003;    
    --colorColorsSandAlpha2: #25250007;    
    --colorColorsSandAlpha3: #20100010;    
    --colorColorsSandAlpha4: #1f150019;    
    --colorColorsSandAlpha5: #1f180021;    
    --colorColorsSandAlpha6: #19130029;    
    --colorColorsSandAlpha7: #19140035;    
    --colorColorsSandAlpha8: #1915014a;    
    --colorColorsSandAlpha9: #0f0f0079;    
    --colorColorsSandAlpha10: #0c0c0083;    
    --colorColorsSandAlpha11: #080800a1;    
    --colorColorsSandAlpha12: #060500e3;    
    --colorColorsBronzeAlpha1: #55000003;    
    --colorColorsBronzeAlpha2: #cc33000a;    
    --colorColorsBronzeAlpha3: #92250015;    
    --colorColorsBronzeAlpha4: #80280020;    
    --colorColorsBronzeAlpha5: #7423002c;    
    --colorColorsBronzeAlpha6: #7324003a;    
    --colorColorsBronzeAlpha7: #6c1f004c;    
    --colorColorsBronzeAlpha8: #671c0066;    
    --colorColorsBronzeAlpha9: #551a008d;    
    --colorColorsBronzeAlpha10: #4c150097;    
    --colorColorsBronzeAlpha11: #3d0f00ab;    
    --colorColorsBronzeAlpha12: #1d0600d4;    
    --colorColorsGoldAlpha1: #55550003;    
    --colorColorsGoldAlpha2: #9d8a000d;    
    --colorColorsGoldAlpha3: #75600018;    
    --colorColorsGoldAlpha4: #6b4e0024;    
    --colorColorsGoldAlpha5: #60460030;    
    --colorColorsGoldAlpha6: #64440040;    
    --colorColorsGoldAlpha7: #63420055;    
    --colorColorsGoldAlpha8: #633d0072;    
    --colorColorsGoldAlpha9: #5332009a;    
    --colorColorsGoldAlpha10: #492d00a1;    
    --colorColorsGoldAlpha11: #362100b4;    
    --colorColorsGoldAlpha12: #130c00d4;    
    --colorOverlaysWhiteAlpha1: #ffffff0d;    
    --colorOverlaysWhiteAlpha2: #ffffff1a;    
    --colorOverlaysWhiteAlpha3: #ffffff26;    
    --colorOverlaysWhiteAlpha4: #ffffff33;    
    --colorOverlaysWhiteAlpha5: #ffffff4d;    
    --colorOverlaysWhiteAlpha6: #ffffff66;    
    --colorOverlaysWhiteAlpha7: #ffffff80;    
    --colorOverlaysWhiteAlpha8: #ffffff99;    
    --colorOverlaysWhiteAlpha9: #ffffffb2;    
    --colorOverlaysWhiteAlpha10: #ffffffcc;    
    --colorOverlaysWhiteAlpha11: #ffffffe5;    
    --colorOverlaysWhiteAlpha12: #fffffff2;    
    --colorColorsDefaultWhite: #ffffff;    
    /* Based on Slate 12 */
    --colorColorsDefaultBlack: #1c2024;    
    --colorVariablesEffectsTranslucent: #ffffffcc;    
    --colorVariablesMiscWhiteToDark2: #ffffffe5;    
    --colorColorsRuby1: #fffcfd;    
    --colorColorsRuby2: #fff7f9;    
    --colorColorsRuby3: #feeff3;    
    --colorColorsRuby4: #ffdce1;    
    --colorColorsRuby5: #ffced6;    
    --colorColorsRuby6: #f8bfc8;    
    --colorColorsRuby7: #efacb8;    
    --colorColorsRuby8: #e592a3;    
    --colorColorsRuby9: #e54666;    
    --colorColorsRuby10: #dc3b5d;    
    --colorColorsRuby11: #ca244d;    
    --colorColorsRuby12: #64172b;    
    --colorColorsRubyAlpha1: #ff005503;    
    --colorColorsRubyAlpha2: #ff002008;    
    --colorColorsRubyAlpha3: #f3002515;    
    --colorColorsRubyAlpha4: #ff002523;    
    --colorColorsRubyAlpha5: #ff002a31;    
    --colorColorsRubyAlpha6: #e4002440;    
    --colorColorsRubyAlpha7: #ce002553;    
    --colorColorsRubyAlpha8: #c300286d;    
    --colorColorsRubyAlpha9: #db002cb9;    
    --colorColorsRubyAlpha10: #d2002cc4;    
    --colorColorsRubyAlpha11: #c10030db;    
    --colorColorsRubyAlpha12: #550016e8;    
    --colorColorsIrisAlpha1: #0000ff02;    
    --colorColorsIrisAlpha2: #0000ff07;    
    --colorColorsIrisAlpha3: #0011ee0f;    
    --colorColorsIrisAlpha4: #000bff19;    
    --colorColorsIrisAlpha5: #000eff25;    
    --colorColorsIrisAlpha6: #000aff34;    
    --colorColorsIrisAlpha7: #0008e647;    
    --colorColorsIrisAlpha8: #0008d964;    
    --colorColorsIrisAlpha9: #0000c0a4;    
    --colorColorsIrisAlpha10: #0000b6ae;    
    --colorColorsIrisAlpha11: #0600abac;    
    --colorColorsIrisAlpha12: #000246d8;    
    --colorColorsIris1: #fdfdff;    
    --colorColorsIris2: #f8f8ff;    
    --colorColorsIris3: #f0f1fe;    
    --colorColorsIris4: #e6e7ff;    
    --colorColorsIris5: #dadcff;    
    --colorColorsIris6: #cbcdff;    
    --colorColorsIris7: #b8baf8;    
    --colorColorsIris8: #9b9ef0;    
    --colorColorsIris9: #5b5bd6;    
    --colorColorsIris10: #5151cd;    
    --colorColorsIris11: #5753c6;    
    --colorColorsIris12: #272962;    
    --colorColorsJade1: #fbfefd;    
    --colorColorsJade2: #f4fbf7;    
    --colorColorsJade3: #e6f7ed;    
    --colorColorsJade4: #d6f1e3;    
    --colorColorsJade5: #c3e9d7;    
    --colorColorsJade6: #acdec8;    
    --colorColorsJade7: #8bceb6;    
    --colorColorsJade8: #56ba9f;    
    --colorColorsJade9: #29a383;    
    --colorColorsJade10: #26997b;    
    --colorColorsJade11: #208368;    
    --colorColorsJade12: #1d3b31;    
    --colorColorsJadeAlpha1: #00c08004;    
    --colorColorsJadeAlpha2: #00a3460b;    
    --colorColorsJadeAlpha3: #00ae4819;    
    --colorColorsJadeAlpha4: #00a85129;    
    --colorColorsJadeAlpha5: #00a2553c;    
    --colorColorsJadeAlpha6: #009a5753;    
    --colorColorsJadeAlpha7: #00945f74;    
    --colorColorsJadeAlpha8: #00976ea9;    
    --colorColorsJadeAlpha9: #00916bd6;    
    --colorColorsJadeAlpha10: #008764d9;    
    --colorColorsJadeAlpha11: #007152df;    
    --colorColorsJadeAlpha12: #002217e2;    
    --colorColorsServeupLightBlue1: #f9fdff;    
    --colorColorsServeupLightBlue2: #f0fbfe;    
    --colorColorsServeupLightBlue3: #d7f8ff;    
    --colorColorsServeupLightBlue4: #bef3ff;    
    --colorColorsServeupLightBlue5: #a4ebfc;    
    --colorColorsServeupLightBlue6: #87e1f6;    
    --colorColorsServeupLightBlue7: #59d2ec;    
    --colorColorsServeupLightBlue8: #00bddf;    
    --colorColorsServeupLightBlue9: #00a6c6;    
    --colorColorsServeupLightBlue10: #0099b6;    
    --colorColorsServeupLightBlue11: #007f98;    
    --colorColorsServeupLightBlue12: #003e4c;    
    --colorColorsServeupLightBlueAlpha1: #00aaff03;    
    --colorColorsServeupLightBlueAlpha2: #00bbee06;    
    --colorColorsServeupLightBlueAlpha3: #00d3ff0f;    
    --colorColorsServeupLightBlueAlpha4: #00d0ff17;    
    --colorColorsServeupLightBlueAlpha5: #01c7f71e;    
    --colorColorsServeupLightBlueAlpha6: #00c0ec26;    
    --colorColorsServeupLightBlueAlpha7: #00bae231;    
    --colorColorsServeupLightBlueAlpha8: #00bddf44;    
    --colorColorsServeupLightBlueAlpha9: #00a6c6;    
    --colorColorsServeupLightBlueAlpha10: #0099b6d1;    
    --colorColorsServeupLightBlueAlpha11: #007f989b;    
    --colorColorsServeupLightBlueAlpha12: #003e4cdf;    
    --colorColorsAccentAccent1: var(--colorColorsServeupLightBlue1);    
    --colorColorsAccentAccent2: var(--colorColorsServeupLightBlue2);    
    --colorColorsAccentAccent3: var(--colorColorsServeupLightBlue3);    
    --colorColorsAccentAccent4: var(--colorColorsServeupLightBlue4);    
    --colorColorsAccentAccent5: var(--colorColorsServeupLightBlue5);    
    --colorColorsAccentAccent6: var(--colorColorsServeupLightBlue6);    
    --colorColorsAccentAccent7: var(--colorColorsServeupLightBlue7);    
    --colorColorsAccentAccent8: var(--colorColorsServeupLightBlue8);    
    --colorColorsAccentAccent9: var(--colorColorsServeupLightBlue9);    
    --colorColorsAccentAccent10: var(--colorColorsServeupLightBlue10);    
    --colorColorsAccentAccent11: var(--colorColorsServeupLightBlue11);    
    --colorColorsAccentAccent12: var(--colorColorsServeupLightBlue12);    
    --colorColorsNeutralNeutral1: var(--colorColorsSlate1);    
    --colorColorsNeutralNeutral2: var(--colorColorsSlate2);    
    --colorColorsNeutralNeutral3: var(--colorColorsSlate3);    
    --colorColorsNeutralNeutral4: var(--colorColorsSlate4);    
    --colorColorsNeutralNeutral5: var(--colorColorsSlate5);    
    --colorColorsNeutralNeutral6: var(--colorColorsSlate6);    
    --colorColorsNeutralNeutral7: var(--colorColorsSlate7);    
    --colorColorsNeutralNeutral8: var(--colorColorsSlate8);    
    --colorColorsNeutralNeutral9: var(--colorColorsSlate9);    
    --colorColorsNeutralNeutral10: var(--colorColorsSlate10);    
    --colorColorsNeutralNeutral11: var(--colorColorsSlate11);    
    --colorColorsNeutralNeutral12: var(--colorColorsSlate12);    
    --colorColorsSemanticSuccess1: var(--colorColorsGreen1);    
    --colorColorsSemanticSuccess2: var(--colorColorsGreen2);    
    --colorColorsSemanticSuccess3: var(--colorColorsGreen3);    
    --colorColorsSemanticSuccess4: var(--colorColorsGreen4);    
    --colorColorsSemanticSuccess5: var(--colorColorsGreen5);    
    --colorColorsSemanticSuccess6: var(--colorColorsGreen6);    
    --colorColorsSemanticSuccess7: var(--colorColorsGreen7);    
    --colorColorsSemanticSuccess8: var(--colorColorsGreen8);    
    --colorColorsSemanticSuccess9: var(--colorColorsGreen9);    
    --colorColorsSemanticSuccess10: var(--colorColorsGreen10);    
    --colorColorsSemanticSuccess11: var(--colorColorsGreen11);    
    --colorColorsSemanticSuccess12: var(--colorColorsGreen12);    
    --colorColorsSemanticError1: var(--colorColorsRed1);    
    --colorColorsSemanticError2: var(--colorColorsRed2);    
    --colorColorsSemanticError3: var(--colorColorsRed3);    
    --colorColorsSemanticError4: var(--colorColorsRed4);    
    --colorColorsSemanticError5: var(--colorColorsRed5);    
    --colorColorsSemanticError6: var(--colorColorsRed6);    
    --colorColorsSemanticError7: var(--colorColorsRed7);    
    --colorColorsSemanticError8: var(--colorColorsRed8);    
    --colorColorsSemanticError9: var(--colorColorsRed9);    
    --colorColorsSemanticError10: var(--colorColorsRed10);    
    --colorColorsSemanticError11: var(--colorColorsRed11);    
    --colorColorsSemanticError12: var(--colorColorsRed12);    
    --colorVariablesMiscWhiteToDark: var(--colorColorsDefaultWhite);    
    --colorColorsSemanticWarning1: var(--colorColorsAmber1);    
    --colorColorsSemanticWarning2: var(--colorColorsAmber2);    
    --colorColorsSemanticWarning3: var(--colorColorsAmber3);    
    --colorColorsSemanticWarning4: var(--colorColorsAmber4);    
    --colorColorsSemanticWarning5: var(--colorColorsAmber5);    
    --colorColorsSemanticWarning6: var(--colorColorsAmber6);    
    --colorColorsSemanticWarning7: var(--colorColorsAmber7);    
    --colorColorsSemanticWarning8: var(--colorColorsAmber8);    
    --colorColorsSemanticWarning9: var(--colorColorsAmber9);    
    --colorColorsSemanticWarning10: var(--colorColorsAmber10);    
    --colorColorsSemanticWarning11: var(--colorColorsAmber11);    
    --colorColorsSemanticWarning12: var(--colorColorsAmber12);    
    --colorColorsSemanticInfo1: var(--colorColorsSky1);    
    --colorColorsSemanticInfo2: var(--colorColorsSky2);    
    --colorColorsSemanticInfo3: var(--colorColorsSky3);    
    --colorColorsSemanticInfo4: var(--colorColorsSky4);    
    --colorColorsSemanticInfo5: var(--colorColorsSky5);    
    --colorColorsSemanticInfo6: var(--colorColorsSky6);    
    --colorColorsSemanticInfo7: var(--colorColorsSky7);    
    --colorColorsSemanticInfo8: var(--colorColorsSky8);    
    --colorColorsSemanticInfo9: var(--colorColorsSky9);    
    --colorColorsSemanticInfo10: var(--colorColorsSky10);    
    --colorColorsSemanticInfo11: var(--colorColorsSky11);    
    --colorColorsSemanticInfo12: var(--colorColorsSky12);    
    --colorTokensColorsWhiteContrast: var(--colorColorsDefaultWhite);    
    --colorTokensColorsAccentContrast: var(--colorTokensColorsWhiteContrast);    
    --colorTokensColorsPageBackground: var(--colorVariablesMiscWhiteToDark);    
    --colorColorsAccentAccentAlpha2: var(--colorColorsIndigoAlpha2);    
    --colorTokensColorsAccentSurface: var(--colorColorsAccentAccentAlpha2);    
    --colorColorsAccentAccentAlpha1: var(--colorColorsIndigoAlpha1);    
    --colorColorsAccentAccentAlpha3: var(--colorColorsIndigoAlpha3);    
    --colorColorsAccentAccentAlpha4: var(--colorColorsIndigoAlpha4);    
    --colorColorsAccentAccentAlpha5: var(--colorColorsIndigoAlpha5);    
    --colorColorsAccentAccentAlpha6: var(--colorColorsIndigoAlpha6);    
    --colorColorsAccentAccentAlpha7: var(--colorColorsIndigoAlpha7);    
    --colorColorsAccentAccentAlpha8: var(--colorColorsIndigoAlpha8);    
    --colorColorsAccentAccentAlpha9: var(--colorColorsIndigoAlpha9);    
    --colorColorsAccentAccentAlpha10: var(--colorColorsIndigoAlpha10);    
    --colorColorsAccentAccentAlpha11: var(--colorColorsIndigoAlpha11);    
    --colorColorsAccentAccentAlpha12: var(--colorColorsIndigoAlpha12);    
    --colorColorsNeutralNeutralAlpha1: var(--colorColorsSlateAlpha1);    
    --colorColorsNeutralNeutralAlpha2: var(--colorColorsSlateAlpha2);    
    --colorColorsNeutralNeutralAlpha3: var(--colorColorsSlateAlpha3);    
    --colorColorsNeutralNeutralAlpha4: var(--colorColorsSlateAlpha4);    
    --colorColorsNeutralNeutralAlpha5: var(--colorColorsSlateAlpha5);    
    --colorColorsNeutralNeutralAlpha6: var(--colorColorsSlateAlpha6);    
    --colorColorsNeutralNeutralAlpha7: var(--colorColorsSlateAlpha7);    
    --colorColorsNeutralNeutralAlpha8: var(--colorColorsSlateAlpha8);    
    --colorColorsNeutralNeutralAlpha9: var(--colorColorsSlateAlpha9);    
    --colorColorsNeutralNeutralAlpha10: var(--colorColorsSlateAlpha10);    
    --colorColorsNeutralNeutralAlpha11: var(--colorColorsSlateAlpha11);    
    --colorColorsNeutralNeutralAlpha12: var(--colorColorsSlateAlpha12);    
    --colorColorsSemanticErrorAlpha1: var(--colorColorsRedAlpha1);    
    --colorColorsSemanticErrorAlpha2: var(--colorColorsRedAlpha2);    
    --colorColorsSemanticErrorAlpha3: var(--colorColorsRedAlpha3);    
    --colorColorsSemanticErrorAlpha4: var(--colorColorsRedAlpha4);    
    --colorColorsSemanticErrorAlpha5: var(--colorColorsRedAlpha5);    
    --colorColorsSemanticErrorAlpha6: var(--colorColorsRedAlpha6);    
    --colorColorsSemanticErrorAlpha7: var(--colorColorsRedAlpha7);    
    --colorColorsSemanticErrorAlpha8: var(--colorColorsRedAlpha8);    
    --colorColorsSemanticErrorAlpha9: var(--colorColorsRedAlpha9);    
    --colorColorsSemanticErrorAlpha10: var(--colorColorsRedAlpha10);    
    --colorColorsSemanticErrorAlpha11: var(--colorColorsRedAlpha11);    
    --colorColorsSemanticErrorAlpha12: var(--colorColorsRedAlpha12);    
    --colorColorsSemanticSuccessAlpha1: var(--colorColorsGreenAlpha1);    
    --colorColorsSemanticSuccessAlpha2: var(--colorColorsGreenAlpha2);    
    --colorColorsSemanticSuccessAlpha3: var(--colorColorsGreenAlpha3);    
    --colorColorsSemanticSuccessAlpha4: var(--colorColorsGreenAlpha4);    
    --colorColorsSemanticSuccessAlpha5: var(--colorColorsGreenAlpha5);    
    --colorColorsSemanticSuccessAlpha6: var(--colorColorsGreenAlpha6);    
    --colorColorsSemanticSuccessAlpha7: var(--colorColorsGreenAlpha7);    
    --colorColorsSemanticSuccessAlpha8: var(--colorColorsGreenAlpha8);    
    --colorColorsSemanticSuccessAlpha9: var(--colorColorsGreenAlpha9);    
    --colorColorsSemanticSuccessAlpha10: var(--colorColorsGreenAlpha10);    
    --colorColorsSemanticSuccessAlpha11: var(--colorColorsGreenAlpha11);    
    --colorColorsSemanticSuccessAlpha12: var(--colorColorsGreenAlpha12);    
    --colorColorsSemanticWarningAlpha1: var(--colorColorsAmberAlpha1);    
    --colorColorsSemanticWarningAlpha2: var(--colorColorsAmberAlpha2);    
    --colorColorsSemanticWarningAlpha3: var(--colorColorsAmberAlpha3);    
    --colorColorsSemanticWarningAlpha4: var(--colorColorsAmberAlpha4);    
    --colorColorsSemanticWarningAlpha5: var(--colorColorsAmberAlpha5);    
    --colorColorsSemanticWarningAlpha6: var(--colorColorsAmberAlpha6);    
    --colorColorsSemanticWarningAlpha7: var(--colorColorsAmberAlpha7);    
    --colorColorsSemanticWarningAlpha8: var(--colorColorsAmberAlpha8);    
    --colorColorsSemanticWarningAlpha9: var(--colorColorsAmberAlpha9);    
    --colorColorsSemanticWarningAlpha10: var(--colorColorsAmberAlpha10);    
    --colorColorsSemanticWarningAlpha11: var(--colorColorsAmberAlpha11);    
    --colorColorsSemanticWarningAlpha12: var(--colorColorsAmberAlpha12);    
    --colorColorsSemanticInfoAlpha1: var(--colorColorsSkyAlpha1);    
    --colorColorsSemanticInfoAlpha2: var(--colorColorsSkyAlpha2);    
    --colorColorsSemanticInfoAlpha3: var(--colorColorsSkyAlpha3);    
    --colorColorsSemanticInfoAlpha4: var(--colorColorsSkyAlpha4);    
    --colorColorsSemanticInfoAlpha5: var(--colorColorsSkyAlpha5);    
    --colorColorsSemanticInfoAlpha6: var(--colorColorsSkyAlpha6);    
    --colorColorsSemanticInfoAlpha7: var(--colorColorsSkyAlpha7);    
    --colorColorsSemanticInfoAlpha8: var(--colorColorsSkyAlpha8);    
    --colorColorsSemanticInfoAlpha9: var(--colorColorsSkyAlpha9);    
    --colorColorsSemanticInfoAlpha10: var(--colorColorsSkyAlpha10);    
    --colorColorsSemanticInfoAlpha11: var(--colorColorsSkyAlpha11);    
    --colorColorsSemanticInfoAlpha12: var(--colorColorsSkyAlpha12);    
    --colorPanelTranslucent: var(--colorVariablesEffectsTranslucent);    
    --colorPanelDefault: var(--colorPanelTranslucent);    
    --colorVariablesMiscBackdrop: var(--colorColorsNeutralNeutralAlpha8);    
    --colorTokensColorsOverlay: var(--colorVariablesMiscBackdrop);    
    --colorVariablesMiscDarkToWhite: var(--colorColorsNeutralNeutral12);    
    --colorTokensColorsText: var(--colorVariablesMiscDarkToWhite);    
    --colorVariablesEffectsSolid: var(--colorColorsDefaultWhite);    
    --colorTokensColorsSurface: var(--colorVariablesMiscWhiteToDark2);    
    --colorTokensColorsBlackContrast: var(--colorColorsDefaultBlack);    
    --colorPanelSolid: var(--colorVariablesEffectsSolid);    
}