
:root {
    --measureDimensionNone1: 0px;    
    --measureDimensionNone2: 0px;    
    --measureDimensionNone3: 0px;    
    --measureDimensionNone4: 0px;    
    --measureDimensionNone5: 0px;    
    --measureDimensionNone6: 0px;    
    --measureDimensionSmall1: 1.5px;    
    --measureDimensionSmall2: 2px;    
    --measureDimensionSmall3: 3px;    
    --measureDimensionSmall4: 4px;    
    --measureDimensionSmall5: 6px;    
    --measureDimensionSmall6: 8px;    
    --measureDimensionMedium1: 3px;    
    --measureDimensionMedium2: 4px;    
    --measureDimensionMedium3: 6px;    
    --measureDimensionMedium4: 8px;    
    --measureDimensionMedium5: 12px;    
    --measureDimensionMedium6: 16px;    
    --measureDimensionLarge1: 4.5px;    
    --measureDimensionLarge2: 6px;    
    --measureDimensionLarge3: 9px;    
    --measureDimensionLarge4: 12px;    
    --measureDimensionLarge5: 18px;    
    --measureDimensionLarge6: 24px;    
    --measureDimensionFull1: 6px;    
    --measureDimensionFull2: 8px;    
    --measureDimensionFull3: 12px;    
    --measureDimensionFull4: 16px;    
    --measureDimensionFull5: 24px;    
    --measureDimensionFull6: 32px;    
    --measureDimensionNone1Max: 0px;    
    --measureDimensionNone2Max: 0px;    
    --measureDimensionNone3Max: 0px;    
    --measureDimensionNone4Max: 0px;    
    --measureDimensionNone5Max: 0px;    
    --measureDimensionNone6Max: 0px;    
    --measureDimensionSmall1Max: 1.5px;    
    --measureDimensionSmall2Max: 2px;    
    --measureDimensionSmall3Max: 3px;    
    --measureDimensionSmall4Max: 4px;    
    --measureDimensionSmall5Max: 6px;    
    --measureDimensionSmall6Max: 8px;    
    --measureDimensionMedium1Max: 3px;    
    --measureDimensionMedium2Max: 4px;    
    --measureDimensionMedium3Max: 6px;    
    --measureDimensionMedium4Max: 8px;    
    --measureDimensionMedium5Max: 12px;    
    --measureDimensionMedium6Max: 16px;    
    --measureDimensionLarge1Max: 4.5px;    
    --measureDimensionLarge2Max: 6px;    
    --measureDimensionLarge3Max: 9px;    
    --measureDimensionLarge4Max: 12px;    
    --measureDimensionLarge5Max: 18px;    
    --measureDimensionLarge6Max: 24px;    
    --measureDimensionFull1Max: 9999px;    
    --measureDimensionFull2Max: 9999px;    
    --measureDimensionFull3Max: 9999px;    
    --measureDimensionFull4Max: 9999px;    
    --measureDimensionFull5Max: 9999px;    
    --measureDimensionFull6Max: 9999px;    
    --measureDimension901: 3.599999904632568px;    
    --measureDimension902: 7.199999809265137px;    
    --measureDimension903: 10.80000019073486px;    
    --measureDimension904: 14.39999961853027px;    
    --measureDimension905: 21.60000038146973px;    
    --measureDimension906: 28.79999923706055px;    
    --measureDimension907: 36px;    
    --measureDimension908: 43.20000076293945px;    
    --measureDimension909: 57.59999847412109px;    
    --measureDimension951: 3.799999952316284px;    
    --measureDimension952: 7.599999904632568px;    
    --measureDimension953: 11.39999961853027px;    
    --measureDimension954: 15.19999980926514px;    
    --measureDimension955: 22.79999923706055px;    
    --measureDimension956: 30.39999961853027px;    
    --measureDimension957: 38px;    
    --measureDimension958: 45.59999847412109px;    
    --measureDimension9509: 60.79999923706055px;    
    --measureDimension1001: 4px;    
    --measureDimension1002: 8px;    
    --measureDimension1003: 12px;    
    --measureDimension1004: 16px;    
    --measureDimension1005: 24px;    
    --measureDimension1006: 32px;    
    --measureDimension1007: 40px;    
    --measureDimension1008: 48px;    
    --measureDimension1009: 64px;    
    --measureDimension1051: 4.199999809265137px;    
    --measureDimension1052: 8.399999618530273px;    
    --measureDimension1053: 13.80000019073486px;    
    --measureDimension1054: 18.39999961853027px;    
    --measureDimension1055: 25.20000076293945px;    
    --measureDimension1056: 33.59999847412109px;    
    --measureDimension1057: 42px;    
    --measureDimension1058: 50.40000152587891px;    
    --measureDimension1059: 67.19999694824219px;    
    --measureDimension1101: 4.400000095367432px;    
    --measureDimension1102: 8.800000190734863px;    
    --measureDimension1103: 13.19999980926514px;    
    --measureDimension1104: 17.60000038146973px;    
    --measureDimension1105: 26.39999961853027px;    
    --measureDimension1106: 35.20000076293945px;    
    --measureDimension1107: 44px;    
    --measureDimension1108: 52.79999923706055px;    
    --measureDimension1109: 70.4000015258789px;    
    --measureDimensionBorderRadiusFull: 9999px;    
    --measureDimensionTokensSpaceTableCellMinHeight1: 36px;    
    --measureDimensionTokensSpaceTableCellMinHeight2: 44px;    
    --measureDimensionTypographyFontSize1: 12px;    
    --measureDimensionTypographyFontSize2: 14px;    
    --measureDimensionTypographyFontSize3: 16px;    
    --measureDimensionTypographyFontSize4: 18px;    
    --measureDimensionTypographyFontSize5: 20px;    
    --measureDimensionTypographyFontSize6: 24px;    
    --measureDimensionTypographyFontSize7: 28px;    
    --measureDimensionTypographyFontSize8: 35px;    
    --measureDimensionTypographyFontSize9: 60px;    
    --measureDimensionTypographyLetterSpacing1: 0.03999999910593033px;    
    --measureDimensionTypographyLetterSpacing2: 0px;    
    --measureDimensionTypographyLetterSpacing3: 0px;    
    --measureDimensionTypographyLetterSpacing4: -0.03999999910593033px;    
    --measureDimensionTypographyLetterSpacing5: -0.07999999821186066px;    
    --measureDimensionTypographyLetterSpacing6: -0.1000000014901161px;    
    --measureDimensionTypographyLetterSpacing7: -0.119999997317791px;    
    --measureDimensionTypographyLetterSpacing8: -0.1599999964237213px;    
    --measureDimensionTypographyLetterSpacing9: -0.4000000059604645px;    
    --measureDimensionTypographyLineHeight1: 16px;    
    --measureDimensionTypographyLineHeight2: 20px;    
    --measureDimensionTypographyLineHeight3: 24px;    
    --measureDimensionTypographyLineHeight4: 26px;    
    --measureDimensionTypographyLineHeight5: 28px;    
    --measureDimensionTypographyLineHeight6: 30px;    
    --measureDimensionTypographyLineHeight7: 36px;    
    --measureDimensionTypographyLineHeight8: 40px;    
    --measureDimensionTypographyLineHeight9: 60px;    
    --measureDimensionBorderRadius1: var(--measureDimensionMedium1);    
    --measureDimensionBorderRadius2: var(--measureDimensionMedium2);    
    --measureDimensionBorderRadius3: var(--measureDimensionMedium3);    
    --measureDimensionBorderRadius4: var(--measureDimensionMedium4);    
    --measureDimensionBorderRadius5: var(--measureDimensionMedium5);    
    --measureDimensionBorderRadius6: var(--measureDimensionMedium6);    
    --measureDimensionBorderRadius1Max: var(--measureDimensionMedium1Max);    
    --measureDimensionBorderRadius2Max: var(--measureDimensionMedium2Max);    
    --measureDimensionBorderRadius3Max: var(--measureDimensionMedium3Max);    
    --measureDimensionBorderRadius4Max: var(--measureDimensionMedium4Max);    
    --measureDimensionBorderRadius5Max: var(--measureDimensionMedium5Max);    
    --measureDimensionBorderRadius6Max: var(--measureDimensionMedium6Max);    
    --measureDimensionSpacing1: var(--measureDimension1101);    
    --measureDimensionSpacing2: var(--measureDimension1102);    
    --measureDimensionSpacing3: var(--measureDimension1103);    
    --measureDimensionSpacing4: var(--measureDimension1104);    
    --measureDimensionSpacing5: var(--measureDimension1105);    
    --measureDimensionSpacing6: var(--measureDimension1106);    
    --measureDimensionSpacing7: var(--measureDimension1107);    
    --measureDimensionSpacing8: var(--measureDimension1108);    
    --measureDimensionSpacing9: var(--measureDimension1109);    
    --measureDimensionTokensSpaceButtonHeight1: var(--measureDimensionSpacing5);    
    --measureDimensionTokensSpaceButtonHeight2: var(--measureDimensionSpacing6);    
    --measureDimensionTokensSpaceButtonHeight3: var(--measureDimensionSpacing7);    
    --measureDimensionTokensSpaceButtonHeight4: var(--measureDimensionSpacing8);    
    --measureDimensionTokensSpaceMenuItemHeight2: var(--measureDimensionSpacing6);    
    --measureDimensionTokensSpaceMenuItemHeight1: var(--measureDimensionSpacing5);    
    --measureDimensionTokensSpaceTableCellMinHeight3: var(--measureDimensionSpacing8);    
    --measureDimensionTokensSpaceTableCellPadding1: var(--measureDimensionSpacing2);    
    --measureDimensionTokensSpaceTableCellPadding2: var(--measureDimensionSpacing3);    
    --measureDimensionTokensSpaceTableCellPadding3: var(--measureDimensionSpacing4);    
}